
@model Eogrenme.ViewModels.LoginAuth

<div class="d-flex align-items-center" style="min-height: 10vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
        <div class="text-center mt-5 mb-1">
            <div class="avatar avatar-lg">
                <img width="100" src="~/Content/images/logo/primary.svg" class="avatar-img rounded-circle" alt="LearnPlus" />
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5 navbar-light">
            <a href="student-dashboard.html" class="navbar-brand m-0">LearnPlus</a>
        </div>
        <div class="card navbar-shadow">
            <div class="card-header text-center">
                <h4 class="card-title">Login</h4>
                <p class="card-subtitle">Access your account</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()

                    <form action="student-dashboard.html" novalidate method="get">
                        <div class="form-group">
                            <label class="form-label" for="email">Kullanıcı Adı</label>
                            <div class="input-group input-group-merge">
                                <!-- <input id="email" type="email" required="" class="form-control form-control-prepended" placeholder="Your email address">-->
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="far fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Parola</label>
                            <div class="input-group input-group-merge">
                                <!-- <input id="password" type="password" required="" class="form-control form-control-prepended" placeholder="Your password">-->
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Parola" })
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                       
                    </form>
                }
            </div>
           
        </div>
    </div>
</div>


